<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ufpi.leevfrequency">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".View.ForgetPasswordActivity"
            android:label="Esqueci minha senha"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".View.FinalizeRegisterActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:label="Finalizar registro"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".View.UserAdvisorModeActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:label="Perfil de usuário"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".View.MyStudentsActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:label="Meus estudantes"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".View.LEEVTeachersActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:label="Professores do LEEV"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".View.LEEVStudentsActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:label="Estudantes do LEEV"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".View.UserRegisterActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:label="Cadastro de usuário"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".View.UserActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:label="Meu perfil"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".View.LoginActivity"
            android:label="Login"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".View.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>